.nav-container{
  position: fixed;
  bottom: 0;
  background-color: black;
  width: 100vw;
  ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 0;
    li{
      img{
        color: white;
        width: 32px;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    ul{
      padding: 10px 0 20px 0;
    }
  }
}